body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #1E1E1E;
}
.banner-column{
    background-color: #FF6600;
}
.navbar-container{
    background-color: #1877F2;
}
.about-container{
    background-color: #563D7C;
}