body {
    font-family: 'Open Sans', sans-serif;
}

.banner-container {
    background-color: #67E5EB;
}

.banner-column {
    background-color: #F7EBDC;
}

.navbar-container {
    background-color: #F7EBDC;
    position: sticky;
    top: 0;
    z-index: 2;
}

.about-container {
    background-color: #F3FF85;
}

.education-container {
    background-color: lightskyblue;
}

.bg-redtype {
    background-color: #F3FF85;
}

.redtype-color {
    color: black;
}

.circle {
    background-color: gold;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container {
    background-color: #67E5EB;
}

.form-container {
    background-color: lightslategray;
}

.footer {
    background-color: #1877F2;
}

.Circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #1877F2;
}

.Circle:hover {
    background-color: lightslategray;
}

#swami {
    padding-top: 25px;
}
